body {
  display: flex;
  justify-content: center;
  background-color: #FCEFF0;
}

div.tablet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 5px solid #34220D;
  width: 1000px;
  height: 650px;
  border-radius: 50px;
  background-color: #4F917C;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
    gap: 25px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 0%;
  color: #34220D;
  font-style: oblique;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.grid {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 3px solid #34220D;
  }

.square {
    border: 0px;
    margin: 0px;
    height: auto;
}

.slider {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
  color: #34220D;
}

#size-value {
  padding: 8px;
}

button {
    padding: 10px 20px;
    border: 1px solid #333333;
    border-radius: 12px;
    width: 135px;
    height: 45px;
    font-size: 12px;
    font-weight: 700;
  }
  
  button.active {
    background-color: #333333;
    color: #ededed;
  }
 
  button,
  input[type = "color"] {
    transition: transform 0.1s ease-in-out;
  }
  
  button:hover,
  input[type = "color"]:hover {
    transform: scale(1.05);
  }
  
  input[type = "color"]:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }
  
  input[type = "color"] {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  
  input[type = "color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type = "color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  input[type = "range"] {
    -webkit-appearance: none;
    background-color: #ededed;
    border-radius: 25px;
  }
  
  input[type = "range"]::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid #333333;
    border-radius: 25px;
    background: #fefefe;
  }
  
  input[type = "range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: #333;
  }